<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MAUI.Native.Embedded" value="./MAUI.Native.Embedded.nuget/nupkg" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="MAUI.Native.Embedded">
            <package pattern="MarLoe.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>